@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 30% 96%;
    --foreground: 222.2 84% 4.9%;
    
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    
    --primary: 21 63% 61%;
    --primary-foreground: 210 40% 98%;
    
    --secondary: 35 79% 91%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
    --accent: 34 71% 75%;
    --accent-foreground: 222.2 47.4% 11.2%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    
    --radius: 0.5rem;
  }
  
  * {
    @apply border-border;
  }
  
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair;
  }
}

@layer components {
  .custom-shadow {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }
  
  .banner-overlay {
    background: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
  }
}

@layer utilities {
  .font-playfair {
    font-family: 'Playfair Display', serif;
  }
  
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
}
